In [21]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams

from statsmodels.tsa.stattools import adfuller
!pip install pmdarima -q
import pmdarima as pm
from statsmodels.tsa.seasonal import seasonal_decompose
import os

In [25]:
parent_dir = os.path.dirname(os.getcwd())

df = pd.read_csv (parent_dir + '/demos-notocar/data/AirPassengers.csv')
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

Convert the ‘Month’ column to datetime format and set it as the index of the DataFrame.

In [26]:
df['Month'] = pd.to_datetime(df['Month'], infer_datetime_format=True)
df = df.set_index(['Month'])
df.head()

/var/folders/p8/mzs837dn415gkjd2g8kpt0d00000gn/T/ipykernel_29481/647719190.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Month'] = pd.to_datetime(df['Month'], infer_datetime_format=True)

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

### Step 3: Differencing
Differencing involves subtracting a lagged version of the time series from itself. In the case of seasonal differencing, you subtract the value from the same season in the previous year.

When you take the first seasonal difference, you lose the first 12 data points (since there is no previous year’s data for the first 12 months). This leads to missing values in the resulting differenced series.

In [28]:
df['#Passengers_diff'] = df['#Passengers'].diff(periods=12)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 1949-01-01 to 1960-12-01
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   #Passengers       144 non-null    int64
 1   #Passengers_diff  132 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.4 KB