# Creación de la base de datos con sqlite3

In [1]:
import sqlite3
import os

In [2]:
# directorio actual
os.getcwd()

'C:\\Users\\Ramon\\OneDrive - Universidad Complutense de Madrid (UCM)\\_TODO\\_PROYECTOS\\Docentia\\py-03-ds-salesforce\\notebooks'

In [3]:
# creación de la base de datos, si no existe se crea
conexion=sqlite3.connect("../data/final/dw_sf_tr.db")

In [4]:
# se genera cursor a la base de datos
cursor=conexion.cursor()

## Familia de producto

In [5]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_FAMPRO;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_FAMPRO;
    """
cursor.executescript(sql)

In [6]:
# creación tabla
sql="""
    CREATE TABLE DIM_FAMPRO (
        IDE_FAMPRO VARCHAR(255) NOT NULL PRIMARY KEY,
        COD_FAMPRO VARCHAR(255),
        DES_FAMPRO VARCHAR(255),
        FEC_MOD_FAMPRO DATETIME NOT NULL
        );
    """
cursor.executescript(sql)

In [7]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_FAMPRO VALUES ('9999999999','9999999999','SIN FAMILIA','2001-01-01')")
conexion.commit

## Producto

In [8]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_PRODUC;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_PRODUC;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_ERR_PRODUC;
    """
cursor.executescript(sql)

In [9]:
# creación tabla de productos
sql="""
    CREATE TABLE DIM_PRODUC (
        IDE_PRODUC VARCHAR(255) NOT NULL  PRIMARY KEY,
        COD_PRODUC VARCHAR(255),        
        DES_PRODUC VARCHAR(255),
        IDE_FAMPRO VARCHAR(255) NOT NULL,
        FEC_MOD_PRODUC DATETIME
        );
    """
cursor.executescript(sql)

In [10]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_PRODUC VALUES ('9999999999','9999999999','SIN PRODUCTO','9999999999', '2001-01-01')")
conexion.commit

## Cuenta

In [11]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_CUENTA;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_CUENTA;
    """
cursor.executescript(sql)

In [12]:
# creación tabla
sql="""
    CREATE TABLE DIM_CUENTA (
        IDE_CUENTA VARCHAR(255) NOT NULL  PRIMARY KEY,
        COD_CUENTA VARCHAR(255),
        DES_CUENTA VARCHAR(255),
        DES_VIA_CUENTA    VARCHAR(255),
        DES_CIUDAD_CUENTA VARCHAR(255),
        DES_ESTADO_CUENTA VARCHAR(255),
        DES_CODPOS_CUENTA VARCHAR(255),
        DES_PAIS_CUENTA   VARCHAR(255),
        NUM_EDAD_CUENTA             REAL,
        NUM_TAMANO_FAMILIAR_CUENTA  REAL,
        NUM_ANOS_EXPERIENCIA_CUENTA REAL,
        NUM_INGRESOS_ANO_CUENTA     REAL,
        FEC_MOD_CUENTA DATETIME        
        );
    """
cursor.executescript(sql)

In [13]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_CUENTA VALUES ('9999999999','9999999999','SIN CUENTA',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL, '2001-01-01')")
conexion.commit

## Nivel de educación

In [14]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_NIVEDU_CONTAC;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_NIVEDU_CONTAC;
    """
cursor.executescript(sql)

In [15]:
# creación tabla
sql="""
    CREATE TABLE DIM_NIVEDU_CONTAC (
        IDE_NIVEDU_CONTAC VARCHAR(255) NOT NULL PRIMARY KEY,
        COD_NIVEDU_CONTAC VARCHAR(255),
        DES_NIVEDU_CONTAC VARCHAR(255),
        FEC_MOD_NIVEDU_CONTAC DATETIME NOT NULL
        );
    """
cursor.executescript(sql)

In [16]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_NIVEDU_CONTAC VALUES ('9999999999','9999999999','SIN NIVEL EDUCACION','2001-01-01')")
cursor.executescript("INSERT INTO DIM_NIVEDU_CONTAC VALUES ('1','1','ESTUDIOS PRIMARIOS','2001-01-01')")
cursor.executescript("INSERT INTO DIM_NIVEDU_CONTAC VALUES ('2','2','ESTUDIOS MEDIOS','2001-01-01')")
cursor.executescript("INSERT INTO DIM_NIVEDU_CONTAC VALUES ('3','3','ESTUDIOS AVANZADOS','2001-01-01')")

conexion.commit

## Contacto

In [17]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_CONTAC;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_CONTAC;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_ERR_CONTAC;
    """
cursor.executescript(sql)

In [18]:
# creación tabla
sql="""
    CREATE TABLE DIM_CONTAC (
        IDE_CONTAC VARCHAR(255) NOT NULL  PRIMARY KEY,
        COD_CONTAC VARCHAR(255),
        DES_CONTAC VARCHAR(255),
        DES_VIA_CONTAC    VARCHAR(255),
        DES_CIUDAD_CONTAC VARCHAR(255),
        DES_ESTADO_CONTAC VARCHAR(255),
        DES_CODPOS_CONTAC VARCHAR(255),
        DES_PAIS_CONTAC   VARCHAR(255),
        DES_EMAIL_CONTAC  VARCHAR(255),
        DES_TELEFONO_CONTAC VARCHAR(15),    
        DES_MOVIL_CONTAC    VARCHAR(15),
        IND_EMAIL_RECHAZA_CONTAC VARCHAR(1),
        FEC_NACIMIENTO_CONTAC DATETIME,
        IDE_CUENTA VARCHAR(255),
        IDE_NIVEDU_CONTAC VARCHAR(255),
        FEC_MOD_CONTAC DATETIME        
        );
    """
cursor.executescript(sql)

In [19]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_CONTAC VALUES ('9999999999','9999999999','SIN CONTACTO',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'9999999999','9999999999', '2001-01-01')")
conexion.commit

## Fecha Oportunidad

In [20]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_FEC_OPORTU;
    """
cursor.executescript(sql)

In [21]:
sql="""
    DROP TABLE IF EXISTS M_FEC_OPORTU;
    """
cursor.executescript(sql)

In [22]:
# creación tabla
sql="""
    CREATE TABLE DIM_FEC_OPORTU (
        IDE_FEC_OPORTU VARCHAR(255) NOT NULL  PRIMARY KEY,
        COD_FEC_OPORTU VARCHAR(255),
        DES_FEC_OPORTU VARCHAR(255),
        IND_CARGADA_FEC_OPORTU VARCHAR2(255),
        FEC_MOD_FEC_OPORTU DATETIME        
        );
    """
cursor.executescript(sql)

In [23]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_FEC_OPORTU VALUES ('2001-01-01','2001-01-01','SIN FECHA','1','2001-01-01')")
conexion.commit

## Oportunidad

In [24]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS DIM_OPORTU;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_OPORTU;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_ERR_OPORTU;
    """
cursor.executescript(sql)

In [25]:
# creación tabla
sql="""
    CREATE TABLE DIM_OPORTU (
        IDE_OPORTU VARCHAR(255) NOT NULL  PRIMARY KEY,
        COD_OPORTU VARCHAR(255),
        DES_OPORTU VARCHAR(255),
        IDE_FEC_OPORTU VARCHAR(255),
        IDE_CUENTA VARCHAR(255),
        IDE_CONTAC VARCHAR(255),
        FEC_MOD_OPORTU DATETIME        
        );
    """
cursor.executescript(sql)

In [26]:
# insertar valores por defecto
cursor.executescript("INSERT INTO DIM_OPORTU VALUES ('9999999999','9999999999','SIN OPORTUNIDAD','9999999999','9999999999','9999999999','2001-01-01')")
conexion.commit

## Línea Oportunidad

In [27]:
# borrado si existe
sql="""
    DROP TABLE IF EXISTS FAC_LIN_OPORTU;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_LIN_OPORTU;
    """
cursor.executescript(sql)

sql="""
    DROP TABLE IF EXISTS M_ERR_LIN_OPORTU;
    """
cursor.executescript(sql)

In [28]:
# creación tabla
sql="""
    CREATE TABLE FAC_LIN_OPORTU (
        IDE_LIN_OPORTU VARCHAR(255) NOT NULL  PRIMARY KEY,
        COD_LIN_OPORTU VARCHAR(255),
        DES_LIN_OPORTU VARCHAR(255),
        NUM_CANTIDAD_LIN_OPORTU REAL,
        NUM_PRECTOT_LIN_OPORTU REAL,
        NUM_PRECUNI_LIN_OPORTU REAL,       
        IDE_PRODUC VARCHAR(255),
        IDE_OPORTU VARCHAR(255),
        FEC_MOD_LIN_OPORTU DATETIME        
        );
    """
cursor.executescript(sql)

In [29]:
# se cierra la conexión con la bbdd
conexion.close()